html {
    font-family: monospace;
    font-size: 17px;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.form__field {
    padding: 20px 20px;
}

.form__label {
	margin-right: 20px;
}

.form__input {
	font-size: 1rem;
}

.form__input {
    display: flex;
    margin-left: 100px;
}
