<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Recommender</title>
    <link rel="stylesheet" href="/static/home_page_style.css" />

    <!-- Linking SwiperJS CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <ul class="sidebar">
        <li onclick="hideSidebar()">
          <a href="#"><i class="fas fa-angle-double-right"></i></a>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <ul>
        <li class="web-name">
          <a href="{{ url_for('home') }}">Food Recommender</a>
        </li>
        <div class="box">
          <form action="{{ url_for('search') }}" method="GET">
            <input type="text" name="search_query" placeholder="Tìm kiếm..." />
            <button class="search-button" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <li class="hideOnMoblie"><a href="#">Contact</a></li>
        <li class="hideOnMoblie"><a href="#">Recipes</a></li>
        <li class="hideOnMoblie"><a href="#">Help</a></li>
        <li class="menu-button" onclick="showSidebar()">
          <a href="#"><i class="fa fa-bars"></i></a>
        </li>
      </ul>
    </nav>

    <div class="nutrition-container">
      <div class="nutrition-input">
        <h4>Nhập thông tin thực phẩm</h4>
        <form id="nutrition-form" action="{{ url_for('home') }}" method="POST">
          <label for="food_name">Tên thực phẩm:</label>
          <input
            type="text"
            id="food_name"
            name="food_name"
            required
          /><br /><br />

          <label for="amount">Khối lượng:</label>
          <input type="number" id="amount" name="amount" required /><br /><br />

          <label for="unit">Đơn vị:</label>
          <select id="unit" name="unit" required>
            <option value="gram">Gram</option>
            <option value="muỗng cafe">Muỗng cafe</option>
            <option value="muỗng canh">Muỗng canh</option>
            <option value="củ">Củ</option>
            <option value="quả">Quả</option>
            <option value="trái">Trái</option>
            <option value="ml">ml</option>
            <option value="l">l</option></select
          ><br /><br />

          <button type="submit">Tính toán dinh dưỡng</button>
        </form>
      </div>

      {% if nutrition_info %}
      <div class="nutrition-result">
        {% for inf in input_info %}
        <h4>
          Kết quả dinh dưỡng cho {{ inf.amount }} {{ inf.unit }} {{
          inf.food_name }}
        </h4>
        {% endfor %}
        <div class="nutrition-box">
          <div class="nutrition-category">Calories:</div>
          <div class="nutrition-value">{{ nutrition_info.calories }} kcal</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Chất béo:</div>
          <div class="nutrition-value">{{ nutrition_info.fats }} g</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Chất béo bão hòa:</div>
          <div class="nutrition-value">{{ nutrition_info.saturated_fat }} g</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Cholesterol:</div>
          <div class="nutrition-value">{{ nutrition_info.cholesterol }} mg</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Natri:</div>
          <div class="nutrition-value">{{ nutrition_info.sodium }} mg</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Carbohydrate:</div>
          <div class="nutrition-value">{{ nutrition_info.carbs }} g</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Chất xơ:</div>
          <div class="nutrition-value">{{ nutrition_info.dietary_fiber }} g</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Đường:</div>
          <div class="nutrition-value">{{ nutrition_info.sugars }} g</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Protein:</div>
          <div class="nutrition-value">{{ nutrition_info.protein }} g</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Canxi:</div>
          <div class="nutrition-value">{{ nutrition_info.calcium }} mg</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Sắt:</div>
          <div class="nutrition-value">{{ nutrition_info.iron }} mg</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Kali:</div>
          <div class="nutrition-value">{{ nutrition_info.potassium }} mg</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Vitamin A:</div>
          <div class="nutrition-value">{{ nutrition_info.vitamin_A }} mcg</div>
        </div>
        <div class="nutrition-box">
          <div class="nutrition-category">Vitamin C:</div>
          <div class="nutrition-value">{{ nutrition_info.vitamin_C }} mg</div>
        </div>
        <div class="disclaimer">
          <h6>Giá trị dinh dưỡng nêu trên là giá trị ước tính và có thể thay đổi theo phương pháp chế biến và nguồn gốc nguyên liệu.</h6>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="some-recipe">
      <h1>CÔNG THỨC NẤU ĂN</h1>
    </div>

    <div class="container swiper">
      <div class="slider-wrapper">
        <div class="card-list swiper-wrapper">
          {% for entry in entries %}
          <div class="card-item swiper-slide">
            {% if entry.image %}
            <img
              class="food-image"
              src="data:image/png;base64,{{ entry.image }}"
              alt="Image of {{ entry.name }}"
            />
            {% else %} Không có hình ảnh {% endif %}
            <h1 class="food-name">{{ entry.name }}</h1>
            <p class="serving">Khẩu phần ăn: {{ entry.serving }} người</p>
            <button
              class="detail-button"
              onclick="window.location.href='{{ url_for('recipe_detail', recipe_name=entry.name) }}'"
            >
              Chi tiết
            </button>
          </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
      </div>
    </div>

    <!-- Linking SwiperJS script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Linking custom script -->
    <script src="/static/script.js"></script>

    <script>
      function showSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.style.display = "flex";
      }
    </script>
    <script>
      function hideSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.style.display = "none";
      }
    </script>
  </body>
</html>
