<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ recipe.name }}</title>
    <link rel="stylesheet" href="/static/detail_page_style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <ul class="sidebar">
        <li onclick="hideSidebar()">
          <a href="#"><i class="fas fa-angle-double-right"></i></a>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <ul>
        <li class="web-name"><a href="{{ url_for('home') }}">Food Recommender</a></li>
        <div class="box">
          <form action="{{ url_for('search') }}" method="GET">
            <input type="text" name="search_query" placeholder="Tìm kiếm..." />
            <button class="search-button" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <li class="hideOnMoblie"><a href="#">Contact</a></li>
        <li class="hideOnMoblie"><a href="#">Recipes</a></li>
        <li class="hideOnMoblie"><a href="#">Help</a></li>
        <li class="menu-button" onclick="showSidebar()">
          <a href="#"><i class="fa fa-bars"></i></a>
        </li>
      </ul>
    </nav>
    
    <h1>{{ recipe.name }}</h1>

    {% if recipe.image %}
    <img
      class="food-image"
      src="data:image/png;base64,{{ recipe.image }}"
      alt="Image of {{ recipe.name }}"
    />
    {% else %} Không có hình ảnh {% endif %}

    <h2>Nguyên liệu</h2>
    <ul>
      {% for ingredient in recipe.ingredient %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>

    <h2>Các bước nấu</h2>
    <ol>
      {% for step in recipe.step %}
      <li>{{ step }}</li>
      {% endfor %}
    </ol>

    <h2>Thông tin dinh dưỡng</h2>
    <ul>
      <li>Calories: {{ nutrition.calories }} kcal</li>
      <li>Fats: {{ nutrition.fats }} g</li>
      <li>Saturated Fat: {{ nutrition.saturated_fat }} g</li>
      <li>Cholesterol: {{ nutrition.cholesterol }} mg</li>
      <li>Sodium: {{ nutrition.sodium }} mg</li>
      <li>Carbohydrates: {{ nutrition.carbs }} g</li>
      <li>Dietary Fiber: {{ nutrition.dietary_fiber }} g</li>
      <li>Sugars: {{ nutrition.sugars }} g</li>
      <li>Protein: {{ nutrition.protein }} g</li>
      <li>Calcium: {{ nutrition.calcium }} mg</li>
      <li>Iron: {{ nutrition.iron }} mg</li>
      <li>Potassium: {{ nutrition.potassium }} mg</li>
      <li>Vitamin A: {{ nutrition.vitamin_A }} mcg</li>
      <li>Vitamin C: {{ nutrition.vitamin_C }} mg</li>
    </ul>

    <script>
      function showSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.style.display = "flex";
      }
    </script>
    <script>
      function hideSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.style.display = "none";
      }
    </script>
  </body>
</html>
